In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.preprocessing import StandardScaler

In [48]:
from sklearn import metrics

In [9]:
from sklearn.model_selection import GridSearchCV

In [11]:
from sklearn.linear_model import LinearRegression

In [13]:
from sklearn.svm import SVR

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [16]:
from sklearn.ensemble import GradientBoostingRegressor

In [17]:
from sklearn.model_selection import cross_val_score

In [49]:
df=pd.read_csv('/content/archive (1) (1).zip')

In [50]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

In [54]:
df.Country=df.Country.astype('category')

df.Region=df.Region.astype('category')

df.Coastline(coast/area ratio)=df.Coastline(coast/area ratio).astype(str)
df.Coastline(coast/area ratio)=df.Coastline(coast/area ratio).str.replace(",",".").astype(float)

df.Net_migration=df.Net_migration.astype(str)
df.Net_migration=df.Net_migration.str.replace(",",".").astype(float)

df.Infant_mortality_rate=df.Infant_mortality_rate.astype(str)
df.Infant_mortality_rate=df.Infant_mortality_rate.str.replace(",",".").astype(float)

df.Literacy=df.Literacy.astype(str)
df.Literacy=df.Literacy.str.replace(",",".").astype(float)

df.Phones=df.Phones.astype(str)
df.Phones=df.Phones.str.replace(",",".").astype(float)

df.Arable=df.Arable.astype(str)
df.Arable=df.Arable.str.replace(",",".").astype(float)

df.Crops=df.Crops.astype(str)
df.Crops=df.Crops.str.replace(",",".").astype(float)

df.Other=df.Otherther.astype(str)
df.Other=df.Other.str.replace(",",".").astype(float)

df.Climate=df.Climate.astype(str)
df.Climate=df.Climate.str.replace(",",".").astype(float)

df.Birthrate=df.Birthrate.astype(str)
df.Birthrate=df.Birthrate.str.replace(",",".").astype(float)

df.Deathrate=df.Deathrate.astype(str)
df.Deathrate=df.Deathrate.str.replace(",",".").astype(float)

df.Agriculture=df.Agriculture.astype(str)
df.Agriculture=df.Agriculture.str.replace(",",".").astype(float)

df.Industry=df.Industry.astype(str)
df.Industry=df.Industry.str.replace(",",".").astype(float)

df.Service=df.Service.astype(str)
df.Service=df.Service.str.replace(",",".").astype(float)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-54-9453580cc0d6>, line 5)

In [67]:
# prompt: change datatypes into category and  float

df['Country'] = df['Country'].astype('category')
df['Region'] = df['Region'].astype('category')

df['Coastline'] = df['Coastline'].astype(str).str.replace(",",".").astype(float)
df['Net migration'] = df['Net migration'].astype(str).str.replace(",",".").astype(float)
df['Infant mortality rate'] = df['Infant mortality rate'].astype(str).str.replace(',', '.').astype(float)
df['Literacy'] = df['Literacy'].astype(str).str.replace(",",".").astype(float)
df['Phones'] = df['Phones'].astype(str).str.replace(",",".").astype(float)
df['Arable'] = df['Arable'].astype(str).str.replace(",",".").astype(float)
df['Crops'] = df['Crops'].astype(str).str.replace(",",".").astype(float)
df['Other'] = df['Other'].astype(str).str.replace(",",".").astype(float)
df['Climate'] = df['Climate'].astype(str).str.replace(",",".").astype(float)
df['Birthrate'] = df['Birthrate'].astype(str).str.replace(",",".").astype(float)
df['Deathrate'] = df['Deathrate'].astype(str).str.replace(",",".").astype(float)
df['Agriculture'] = df['Agriculture'].astype(str).str.replace(",",".").astype(float)
df['Industry'] = df['Industry'].astype(str).str.replace(",",".").astype(float)
df['Service'] = df['Service'].astype(str).str.replace(",",".").astype(float)

KeyError: 'Coastline'